<table style="width: 100%;height: 100px;background-color:ghostwhite"><tr>
    <td><a href="/shop/products"> All Products</a></td><td><a href="/shop/product">Add Product</a></td><td> </td><td> </td><td> </td><td> </td><td></td>
</tr></table>