<%- include("../partials/header.ejs",{title:title}) %>
<%- include("../partials/nav.ejs") %>
        <h1>Welcome to Shop</h1>
        <form method="post">
           <label for="name">Name: </label> <input type="text" name="name" id="name"/><br>
           <label for="description">Description: </label><input type="text" name="description" id="description"/>
            <button type="submit">save</button>
        </form>
        <%- include("../partials/footer.ejs") %>